---
import { getCollection } from 'astro:content';

const alumnis = await getCollection('alumni');
---

{alumnis.map(({ data }) => (
<section>
  <h2>{data.id}</h2>
  <div class="names">
    {data.alumni.map((name) => (
      <div class="alumnus">{name}</div>
    ))}
  </div>
</section>
))}

<style>

  section {
    text-align: center;
  }

  .names {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 800px) {
    .names {
      grid-template-columns: 1fr;
    }
  }

</style>
