---
import { getCollection } from "astro:content";
import Schedule from "@/components/Schedule.astro";

const allGroups = await getCollection("groups");
const allSchedule = await getCollection("schedule");

const years = [
    ...new Set(
        allSchedule.map((e) => {
            const semester = e.data.start.getMonth() > 6 ? "Fall" : "Spring";

            return semester + " " + e.data.start.getFullYear();
        }),
    ),
].sort((a, b) => b - a);
---

<div>
    <div class="years">
        {years.map((y) => <button>{y}</button>)}
    </div>

    <div class="groups">
        {/* Just the groups that had events during this semester? */}
        {/* Have them all selected by default */}
    </div>

    <div class="schedule">
        {/* Schedule component nonsense... */}
    </div>
</div>
