---
import { Picture } from "astro:assets";
import logo from "@/assets/logo.svg";
import {Github, MessageSquare, Instagram,Linkedin,Twitter,Twitch,Youtube,Facebook} from "@lucide/astro";

const currentYear = new Date().getFullYear();

const socials = [
    { text: "Discord", href: "https://discord.gg/ritsec" },
    { text: "GitHub", href: "https://github.com/RITRedteam" },
    { text: "Instagram", href: "https://www.instagram.com/ritsecclub/" },
    { text: "LinkedIn", href: "https://www.linkedin.com/company/ritsec-club" },
    { text: "Twitter", href: "https://twitter.com/RITSEC" },
    { text: "YouTube", href: "https://www.youtube.com/c/RITSEC" },
];
---

<footer>
    <div>
        <a href={import.meta.env.BASE_URL} class="logo link-button tertiary">
            <Picture src={logo} alt="RITSEC Logo" />
        </a>
    </div>

    <div class="socials">
            <a
                class="link-button"
                href="https://discord.ritsec.club"
                target="_blank"
                rel="noopener noreferrer">
                <MessageSquare />
            </a>
            <a
                class="link-button"
                href="https://github.com/ritsec"
                target="_blank"
                rel="noopener noreferrer">
                <Github />
            </a>
            <a
                class="link-button"
                href="https://instagram.com/ritsecclub"
                target="_blank"
                rel="noopener noreferrer">
                <Instagram />
            </a>
            <a
                class="link-button"
                href="https://www.linkedin.com/company/ritsec"
                target="_blank"
                rel="noopener noreferrer">
                <Linkedin />
            </a>
            <a
                class="link-button"
                href="https://twitter.com/ritsecclub"
                target="_blank"
                rel="noopener noreferrer">
                <Twitter />
            </a>
            <a
                class="link-button"
                href="https://youtube.com/c/RITSEC"
                target="_blank"
                rel="noopener noreferrer">
                <Youtube />
            </a>
            <a
                class="link-button"
                href="https://facebook.com/RITSEC"
                target="_blank"
                rel="noopener noreferrer">
                <Facebook />
            </a>
            <a
                class="link-button"
                href="https://www.twitch.tv/ritsec"
                target="_blank"
                rel="noopener noreferrer">
                <Twitch />
            </a>
    </div>
</footer>

<style>
    .logo {
        width: 180px;
        border: unset;
    }

    footer {
        padding: 1rem var(--padding);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5rem;
        background-color: var(--bg-header);
    }

    .link-button {
        border: unset;
    }

    .socials {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
</style>
