---
---
<div id="gradient"></div>

<style>
  #gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    background: linear-gradient(to bottom, var(--bg-primary), transparent);
    z-index: -1;
  }
</style>
