---
---

<header>
    <div>
        <a href="/">
            <img src="ritsec_logo_final-05.png" />
        </a>
        <input type="checkbox" id="nav-toggle-checkbox">

        <label for="nav-toggle-checkbox" class="nav-toggle-label">
            <span>☰</span>
        </label>
        <nav>
            <a class="link-button" href="/">HOME</a>
            <a class="link-button" href="/about">ABOUT</a>
            <a class="link-button" href="/events">EVENTS</a>
            <a class="link-button" href="/groups">GROUPS</a>
            <a class="link-button" href="/schedule">SCHEDULE</a>
            <a class="link-button" href="/research">RESEARCH</a>
            <a class="link-button" href="/sponsors">SPONSORS</a>
            <a class="link-button primary" href="/join" class="call-to-action">JOIN US</a>
        </nav>
    </div>
</header>

<style>
header {
    position: sticky;
    top: 0;
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--bg-panel);
    background-color: var(--bg);
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: calc(min(100% - 2rem, var(--page-width)));
    width: 100%;
    margin: auto;
}

header div > * {
    font-size: 1.125rem;
}

header img {
    height: 3.25rem;
    width: 100%;
}

header div > a {
    display: inline-block;
}

header div > a:hover {
    background-color: var(--bg-panel);
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

#nav-toggle-checkbox {
  display: none;
}

.nav-toggle-label {
    display: none; 
}

@media (max-width: 1000px) {
    header div {
        flex-wrap: wrap;
    }

    header nav {
        display: none;
        width: 100%; 
        flex-direction: column; 
        margin-top: 0.5rem;
    }

    #nav-toggle-checkbox:checked ~ nav {
        display: flex;
    }

    .nav-toggle-label {
        display: block;
        cursor: pointer; 
        user-select: none;
    }

    .hero h1 {
        font-size: 3rem !important;
    }
}
</style>
