---
import { Image } from 'astro:assets';
import logoLarge from "@/assets/logo_large.png";

const directory = '/' + Astro.url.pathname.split("/")[1];

const urls = [
  { href: "/", name: "Home" },
  { href: "/schedule", name: "Schedule" },
  { href: "/activites", name: "Activites" },
  { href: "/blog", name: "Blog" },
  { href: "/sponsors", name: "Sponsors" },
  { href: "/about", name: "About" },
]

urls.forEach(url => {
  if (url.href == directory)
    url.current = "page";
})
---
<header>
  <nav>
    <a href="/"><Image src={logoLarge} loading="eager" id="logo" alt="RITSEC Logo" height="60px" width="164px" /></a>

    <input type="checkbox" id="menu-toggle">

    <label for="menu-toggle" aria-hidden="true" aria-label="Sidebar navigation toggle">
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
    </label>

    <ul>
      {
        urls.map((i) => <li><a aria-current={i.current} href={i.href}>{i.name}</a></li>)
      }
    </ul>
  </nav>
</header>

<style>
  header {
    max-width: var(--w-lg);
    width: 100%;
    margin: 0.5rem auto;
  }

  nav {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  li a {
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: background-color cubic-bezier(0, 0, 0.2, 1) 0.2s;
    display: block;
  }

  li a:hover,
  li a:focus,
  li a:active {
    background-color: color-mix(in oklab, var(--fg) 10%, transparent);
  }

  li a[aria-current="page"] {
    background-color: color-mix(in oklab, var(--fg) 10%, transparent);
  }

  li a[aria-current="page"]:hover,
  li a[aria-current="page"]:focus,
  li a[aria-current="page"]:active {
    background-color: color-mix(in oklab, var(--fg) 15%, transparent);
  }

  /* Hamburger Menu Responsive Stuff */
  input,label {
    display: none;
  }

  @media (max-width: 1250px) {
    label {
      display: flex; 
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 25px;
      cursor: pointer;
      z-index: 11;
    }

    label > * {
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--fg); 
      border-radius: 3px;
      transition: all 0.3s ease;
    }

    ul {
      position: fixed;
      z-index: 10;
      top: 0;
      left: auto;
      right: 0;
      width: 80%;
      max-width: 300px; 
      height: 100dvh;
      background-color: var(--bg); 
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      gap: 0.5rem; 
      padding-top: 5rem;
      align-items: center;
      box-shadow: 0 1px 3px 0 color-mix(in oklab, var(--fg) 10%, transparent), 0 1px 2px -1px color-mix(in oklab, var(--fg) 10%, transparent);
    }

    ul li {
      width: 90%;
    }

    input:checked ~ ul,
    ul:focus-within {
      transform: translateX(0);
    }
  }

</style>
