---
import { Image } from 'astro:assets';
import logoLarge from '@/assets/logoLarge.png';

const path = Astro.url.pathname;

const links = [
    { text: "HOME", href: "/" },
    { text: "ABOUT", href: "/about" },
    { text: "EVENTS", href: "/events" },
    { text: "GROUPS", href: "/groups" },
    { text: "SCHEDULE", href: "/schedule" },
    { text: "RESEARCH", href: "/research" },
    { text: "SPONSORS", href: "/sponsors" },
];
---

<header>
    <a class="logo link-button tertiary" href="/">
        <Image src={logoLarge} height="52px" alt="RITSEC Logo" loading="eager" />
    </a>

    <input type="checkbox" id="checkbox" />

    <label for="checkbox">
        <span>☰</span>
    </label>

    <nav>
        {
            links.map((link) => {
                const page =
                    path == link.href ||
                    (link.href !== "/" && path.startsWith(link.href));

                return (
                    <a
                        class:list={[
                            "link-button",
                            page ? "secondary" : ""
                        ]}
                        href={link.href}
                        aria-current={page ? "page" : undefined}
                    >
                        {link.text}
                    </a>
                );
            })
        }

        <a class="link-button primary" href="/join"
            >JOIN US</a
        >
    </nav>
</header>

<style>
    header {
        position: sticky;
        top: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        padding: 0.25rem var(--padding);
        border-bottom: 2px solid var(--border);
        background-color: var(--bg);
    }

    .logo img {
        height: 3.25rem;
        width: auto;
    }

    .logo {
        display: inline-block;
    }

    header nav {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        align-items: center;
    }

    input {
        display: none;
    }

    label {
        display: none;
        cursor: pointer;
        user-select: none;
        padding: 1rem 1.25rem;
        transition: background-color 0.1s linear;
    }

    label:hover,
    label:active,
    label:focus {
        background-color: var(--bg-panel);
    }

    @media (max-width: 1000px) {
        label {
            display: block;
        }

        input {
            display: unset;
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            overflow: hidden;
            z-index: -1;
        }

        input:focus-visible + label {
            background-color: var(--bg-panel);
        }

        header nav {
            display: none;
            width: 100%;
            flex-direction: column;
            margin-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        input:checked ~ nav {
            display: flex;
        }

        header nav a {
            width: 100%;
            text-align: center;
            padding: 0.75rem 0;
        }
    }
</style>
