---
import { getCollection } from 'astro:content';
const legacyEboard = await getCollection('legacyEboard');

const grouped = legacyEboard.reduce((acc, entry) => {
  const year = entry.data.term;
  if (!acc[year]) acc[year] = [];
  acc[year].push(entry);
  return acc;
}, {});
---

{Object.entries(grouped).map(([year, entries]) => (
  <section>
    <h3>{year}</h3>
    <div class="eboards">
    {entries.map((entry) => (
      <article>
        <h4>{entry.data.organization}</h4>
          <div class="people">
            {entry.data.eboard.map((person) => (
            <div class="person">
              <p class="name">{person.name}</p>
              <p class="position">{person.position}</p>
            </div>
            ))}
          </div>
      </article>
    ))}
    </div>
  </section>
))}

<style>
  section {
    max-width: var(--w-lg);
  }

  h3 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  h4 {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .eboards {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    gap: 3rem;
  }

  .person {
    background: var(--bg);
    border: 1px solid var(--bg-surface-hover);
    border-radius: 0.5rem;
    width: 250px;
    box-shadow: 0 1px 3px 0 color-mix(in oklab, var(--fg) 10%, transparent), 0 1px 2px -1px color-mix(in oklab, var(--fg) 10%, transparent);
    padding: 0.5rem;
    transition: all 0.2s ease-in-out; 
  }

  .person:hover,
  .person:focus,
  .person:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px 0 color-mix(in oklab, var(--fg) 12%, transparent), 0 2px 4px -2px color-mix(in oklab, var(--fg) 12%, transparent);
  }

  .name {
    font-size: 1rem;
    font-weight: 700;
  }

  .people {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1rem;
  }

  article {
    flex: 1 1 0;
  }
</style>
