---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";

interface Props {
    individuals: boolean;
}

const { individuals = false } = Astro.props;

const allSponsors = await getCollection("sponsors");
const tiers = ["diamond", "platinum", "gold", "silver", "educational"];
const getByTier = (tier: string) =>
    allSponsors.filter((s) => s.data.tier === tier);
---

<div>
    {
        tiers.map((tier) => {
            const sponsors = getByTier(tier).filter(
                (s) =>
                    (s.data.type == "company" && !individuals) ||
                    (s.data.type == "individual" && individuals),
            );

            if (sponsors.length === 0) return null;

            return (
                <section class="tier-section">
                    <h3 class={"tier-header " + tier}>
                        {tier.charAt(0).toUpperCase() + tier.slice(1)} Sponsors
                    </h3>

                    <div class="sponsor-list">
                        {sponsors.map((s) => (
                            <a href={s.data.url}>
                                <div class="card img-card grid-content">
                                    <div class="card-img">
                                        <Picture
                                            src={s.data.image}
                                            alt={s.data.title + "'s logo"}
                                        />
                                    </div>

                                    <div class="card-content">
                                        <h4>{s.data.title}</h4>
                                    </div>
                                </div>
                            </a>
                        ))}
                    </div>
                </section>
            );
        })
    }
</div>

<style>
    .sponsor-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        gap: var(--padding);
    }

    h3 {
        margin-bottom: 0;
    }

    .card.grid-content {
        max-width: 100%;
        height: 100%;
    }

    .card-content {
        padding: var(--padding);
    }

    h4 {
        margin: 0;
    }

    .card-img {
        width: 100%;
        aspect-ratio: 1/1;
        background-color: white;
        border-bottom: var(--border);
        padding: 0.25rem;
    }

    .card-img img,
    .card-img picture {
        height: 100%;
        width: 100%;
        object-fit: contain;
        display: block;
    }

    .tier {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .diamond {
        color: #63bdd2;
    }

    .platinum {
        color: #77a5a4;
    }

    .silver {
        color: #9d9688;
    }

    .gold {
        color: #c8aa07;
    }

    a,
    a:hover,
    a:active,
    a:visited {
        color: inherit;
        text-decoration: none;
    }

    .card:hover,
    .card:active {
        border-color: var(--accent);
    }

    h3 {
        margin-bottom: var(--padding-sm);
    }
</style>
