---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";

import "@fontsource/ibm-plex-sans/400.css";
import "@fontsource/ibm-plex-sans/700.css";
import "@fontsource/ibm-plex-sans/400-italic.css";
import "@fontsource/ibm-plex-sans/700-italic.css";
import "@fontsource/ibm-plex-mono";

interface Props {
    title: string;
    description?: string;
    image?: string;
}

const { title, description, image } = Astro.props;
---

<html lang="en" transition:animate="none">
    <Head title={title} description={description} image={image} />
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    *:not(dialog) {
        margin: 0;
    }

    @media (prefers-reduced-motion: no-preference) {
        html {
            interpolate-size: allow-keywords;
        }
    }

    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    p {
        text-wrap: pretty;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    #root,
    #__next {
        isolation: isolate;
    }

    /* ---- VARIABLE DEFINITIONS ---- */

    :root {
        --page-width: 120ch;
        --text-width: 610px;
        --font-mono: "IBM Plex Mono", monospace;
        --font-sans: "IBM Plex Sans", sans-serif;

        --padding: max(1rem, (100% - var(--page-width)) / 2);
    }

    :root {
        --bg: #fcfcfc;
        --bg-panel: rgba(0, 0, 0, 0.02);
        --bg-header: #f3f3f3;

        --fg: #000;
        --border: #d3d3d3;

        --accent: #e69132;
        --fg-accent: var(--bg);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --bg: #0d131a;
            --bg-panel: rgba(255, 255, 255, 0.08);
            --bg-header: #20262c;

            --fg: #dfdfdf;
            --border: #4d4d4d;

            --accent: #e69132;
            --fg-accent: var(--fg);
        }
    }

    /* ----- BASE STYLES ---- */

    html {
        font-family: var(--font-sans);
        color: var(--fg);
        background-color: var(--bg);
        min-height: 100%;
    }

    body {
        min-height: 100vh;
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
    }

    main {
        flex-grow: 1;
    }

    pre {
        font-family: var(--font-mono);
    }

    strong {
        color: var(--accent);
    }

    .link-button {
        display: inline-block;
        font-family: var(--font-mono);
        font-size: 1.125rem;
        padding: 0.25rem 0.5rem;
        text-decoration: none;
        color: var(--fg);
        transition: color 0.1s linear;
        transition: background-color 0.1s linear;
    }
    .link-button:hover,
    .link-button:active,
    .link-button:focus {
        color: var(--bg);
        background-color: var(--fg);
    }

    .link-button.primary {
        color: var(--bg);
        background-color: var(--fg);
    }
    .link-button.primary:hover,
    .link-button.primary:active,
    .link-button.primary:focus {
        background-color: var(--accent);
        color: var(--fg-accent);
    }
    .link-button.secondary {
        outline: 1px solid var(--fg);
        outline-offset: -1px;
    }
    .link-button.secondary:hover,
    .link-button.secondary:active,
    .link-button.secondary:focus {
        background-color: var(--bg-panel);
        color: var(--fg);
    }
    .link-button.tertiary:hover,
    .link-button.tertiary:active,
    .link-button.tertiary:focus {
        background-color: var(--bg-panel);
        color: var(--fg);
    }

    .link-button.tertiary-accent {
        outline: 1px solid var(--accent);
        outline-offset: -1px;
        color: var(--accent);
    }

    .link-button.tertiary-accent:hover,
    .link-button.tertiary-accent:active,
    .link-button.tertiary-accent:focus {
        background-color: unset;
        color: var(--fg);
    }

    .link-button.tertiary:hover,
    .link-button.tertiary:active,
    .link-button.tertiary:focus {
        background-color: var(--bg-panel);
        color: var(--fg);
    }

    main > section {
        padding: 2rem var(--padding);
        border-bottom: 2px solid var(--border);
        background-color: var(--bg);
    }

    main > section:nth-child(even) {
        background-color: var(--bg-panel);
    }

    section > * {
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 1.125;
        margin-bottom: 1rem;
    }

    main > section > p {
        max-width: var(--text-width);
    }

    @media (max-width: 1000px) {
        main > section {
            text-align: center;
        }

        main > section > p {
            margin: auto;
            margin-bottom: 1rem;
        }

        main > section > h2 {
            font-size: 2.25rem;
        }
    }
</style>
