---
import { Picture } from "astro:assets";

import Hero from "@/components/Hero.astro";
import Calendar from "@/components/Calendar.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Schedule from "@/components/Schedule.astro";

import heroImg from "@/assets/image6.jpg";
---

<BaseLayout title="Schedule">
    <Hero reverse={true}>
        <Fragment slot="title">
            Weekly <strong>Education</strong>
        </Fragment>

        <Fragment slot="image">
            <Picture
                src={heroImg}
                width={1000}
                formats={["avif", "webp"]}
                alt="RITSEC club room."
            />
        </Fragment>

        Every Friday, RITSEC hosts a general education meeting, showing off some of our favorite topics with our project-focused education system
    </Hero>

    <section>
        <h2>Friday Schedule</h2>

        <p>
        TODO:
        </p>

        <p>
       12:00-1:00 - Education
        1:00-1:15 - Pizza
        1:15-1:30 - Demo Announcement
        1:30-3:00 - Research
        3:00-4:00 - Social Hour 
        </p>
    </section>

    <section>
        <h2>General Education</h2>

        <Schedule ascending={false} showOld={true} group={"general"} />
    </section>
</BaseLayout>
